body {
    font-family: open sans,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
    color: black;
    background-color: white;
}

.catOrange {
    background: orange;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}

.catBlack {
    background: orange;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}

.catPink {
    background: pink;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}

.catLightOrange {
    background: lightsalmon;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}

.catLightPink {
    background: lightpink;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}

.catLightGrey {
    background-color: lightsteelblue;
    height: 200px;
    width: 200px;
    margin: 10px;
    clip-path: polygon(50% 95%, 50% 95%, 50% 95%, 76% 90%, 76% 90%, 76% 90%, 92% 60%, 92% 60%, 92% 60%, 80% 35%, 80% 35%, 80% 35%, 67% 10%, 67% 10%, 67% 10%, 57% 28%, 57% 28%, 57% 28%, 47% 24%, 47% 24%, 47% 24%, 37% 29%, 37% 29%, 37% 29%, 22% 8%, 22% 8%, 22% 8%, 13% 31%, 13% 31%, 13% 31%, 8% 56%, 8% 56%, 8% 56%, 21% 89%, 21% 89%, 21% 89%);
}